*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hamburger-cnt{
  position: absolute;
  right: 20px;
  top:18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 40px;
}

#bar1{

  top: 18px;
  transition: 1s ease-in-out; 
}

#bar1.clicked {

  transform: rotate(45deg) translate(0 ,25px);
  transition: 1s ease-in-out;
}

#bar2{
  transition: 1s ease-in-out 1ms; 
}

#bar2.clicked {
  
  width: 0%; 
  transform-origin: left;
  transition: 1s ease-in-out;
}

 #bar3{
  transition: 1s ease-in-out; 
} 
#bar3.clicked {
  transition: 1s ease-in-out; 
  transform: rotate(-45deg) translate(0, -25px);
}  

#toglemenu{
  transition: 1.5s ease-in-out;
}
#toglemenu.clicked{
  top: 0;
  transition: 1.5s ease-in-out;
  padding-top: 24px;
}
>>>>>>> Stashed changes
