*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --bgcolor:#404EED;
  --gray :#23272a;
}

body{
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.container
{
  background-color: var(--bgcolor);
  width: 100vw;
  height: 100vh;
}


/* mobile */

header{
  background-color: #5865F2;
  height: 80px;
  position: fixed;
  top:0;
  right:0;
  left: 0; 
}


.menu-lines{
  height: 5px;
  width: 40px;
  background-color: white;
  border-radius: 15px;
}

.toglemenu{
  background-color: white;
  opacity: 0.7;
  height: 100vh;
  width: 50%;
  position: relative;
  top:0px;
  right:-200px
}

.menu{
  position: relative;
  top:150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-inner-container
{
  border: solid 1px white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-inner-container:nth-child(1),
.menu-inner-container:nth-child(3){

  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


.menu-inner-container a{
  text-decoration: none;
}


.hamburger-cnt{
  position: absolute;
  right: 20px;
  top:18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 40px;
  z-index: 10;
}

#bar1{

  top: 18px;
  transition: 1s ease-in-out; 
}

#bar1.clicked {

  transform: rotate(45deg) translate(0 ,25px);
  background-color: black;
  transition: 1s ease-in-out;
}
 
#bar2{
  transition: 1s ease-in-out 1ms; 
}

#bar2.clicked {
  
  width: 0%; 
  transform-origin: left;
  transition: 1s ease-in-out;
}

 #bar3{
  transition: 1s ease-in-out; 
} 
 #bar3.clicked {
  background-color: black;
  transition: 1s ease-in-out; 
  transform: rotate(-45deg) translate(0, -25px);
}  
 

#toglemenu{
  transition: 1.5s ease-in-out;
}
#toglemenu.clicked{

  right:-400px;
  transition: 1.5s ease-in-out;
}

main{

  height: 100%;  
  display: flex;
  flex-direction: column;
  background-color: white;;
}
.presentation{
  margin-top: 80px;
  height: 300px;
  color: white;
}

.presentation .subtitle{
  font-size: 35px;
  font-weight: 800;
}

.presentation .label-name{
  font-size: 28px;
  font-weight: 800;
}
.presentation .title{
  font-size: 35px;
  font-weight: 800;
}

.presentation{
  height: 150px;
}
.about{
  background-color: white;
  height: 150px;
}
.title{
  margin: 0;
}
.paragraf{
  color: var(--gray);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.experience{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card
{
  height: 400px;
  width: 350px;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 15px;
  margin-top: 15px ;
  box-shadow: 2px -2px 1px 0px  var(--bgcolor);
}

.label-work{
  margin-bottom: 5px;
  color: var(--gray);
  font-weight: 500;
}
.label-work span{
  font-weight: 800;
}
.label-work a{
  text-decoration: none;
  color: var(--gray);
  cursor: pointer;
}
.label-work ul{
  margin-top: 5px;
  margin-left:15px ;
  color: var(--gray);
  font-weight: 500;
}

.label-work ul li{
  font-weight: 500;
}